.footer {
  background-color: var(--brown);
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 5rem;
  }

  &__link {
    max-width: 8rem;
  }
}

.gh-link {
  display: flex;
  align-items: center;
  gap: 1rem;
  &__year {
    display: block;
    font-family: 'Arima';
    font-size: 2rem;
  }
  &__link {
    min-width: 4rem;
  }
}